@import '../../Styles/controls';
.pageContent {
  padding: 1rem 0;
  @include row-gap(1rem);
  @include flex(1, 1, auto);
  @extend %flex-column;
  @include animation('fadeIn 0.8s');
  @include keyframes(fadeIn) {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

